<!DOCTYPE html>
  <head>
    <head>
    <title>Omvc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>O.M.V.C<h1>
    <main>  
    <%= yield %>
    <main>
  </body>
</html>
